body {
    margin: 0;
    padding: 0;
    /* height: 10vh; */
    font-family: Arial, sans-serif;
    
    }
.heading h1{
    text-align: center;
}
    .container{
        /* background-color: fuchsia; */
    background-image: url(BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.Register-container {
    backdrop-filter: blur(15px);
    min-width: 500px;
    min-height: 350px;
    background-color: #7a7a7a9b;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.Register-container h2 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.form-group {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 20px;
    margin-right: 20px;
}

label { 
    color: #fff;
    min-width: 100px;
    display: block;
    /* margin-bottom: 5px; */
}

input[type="text"],
input[type="password"] ,
input[type="email"] ,
input[type="phno"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
input:hover{
    background-color: #dceeff;
}

.btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    width: 250px;
    padding: 10px;
    font-weight: 600;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    font-weight: 600;
    color: #007bff;
    background-color: #dceeff;
    box-shadow: 6px 6px 0px #1f1f1f;
    transition: ease-in-out 0.5s;
}
p{
    text-align: center;
    color: #bcbcbc;
}
p a{
    color: #ffffff;
}